h1 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}
body {
    background-color: rgb(148, 182, 171);
}
p {
    color: aliceblue;
    background-color: black;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}